@using Microsoft.AspNetCore.Identity
@model JumpLog.Models.Jump

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Add Jump";
}

@if (SignInManager.IsSignedIn(User))
{
    <section class="section">
        <h1>Add Jump</h1>

        <h1>Add Jump</h1>

        @using (Html.BeginForm())
        {
            @Html.EditorForModel()
            <input type="submit" value="Add Jump" />
        }

        @*<div class="form-container">
                <form action="/" class="add-person-form" method="post">
                    <input type="text" name="date-of-jump" value="" required placeholder="Date of Jump" />
                    <input type="text" name="type-of-jump" value="" required placeholder="Type of Jump" />
                    <input type="text" name="aircraft" value="" required placeholder="Type of Aircraft" />
                    <input type="text" name="dropzone" value="" required placeholder="Dropzone" />
                    <input type="text" name="parachute" value="" required placeholder="Type of Parachute" />
                    <input type="text" name="duty" value="" required placeholder="Duty (if applicable)" />
                    <button>Submit</button>
                </form>
            </div>*@
    </section>
}
else
{
    <section class="section text-center">
        <h3>Need to be logged in to view this page.</h3>
    </section>
}