@using Microsoft.AspNetCore.Identity
@model JumpLog.Models.Soldier

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Edit Soldier";
}

@if (SignInManager.IsSignedIn(User))
{
<section class="section">
    <h1>Edit Soldier</h1>

    @using (Html.BeginForm())
    {
        @Html.EditorForModel()
        <input type="submit" value="Edit Soldier" />
    }
</section>
}
else
{
    <section class="section text-center">
        <h3>Need to be logged in to view this page.</h3>
    </section>
}