@model JumpLog.Models.Soldier


<!DOCTYPE html>
<html>
<body>

    <div class="section tracker text-center">
        <h1>Current Soldier</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Last</th>
                    <th scope="col">First</th>
                    <th scope="col">Rank</th>
                    <th scope="col">DOD ID</th>
                    <th scope="col">SSN</th>
                    <th scope="col">Company</th>
                    <th scope="col">Platoon</th>
                    <th scope="col">Date Arrived</th>
                </tr>
            </thead>

            <tbody>
                @await Html.PartialAsync("_SoldierPartial")
            </tbody>
        </table>

        <!-- using HTML helpers for links -->
        @Html.ActionLink("Add New Soldier", "Add", new { id = 3 })
    </div>

</body>
</html>